html {
     background-color: rgba(105, 164, 162, 0.6); }

h2 {
  font-size: 4.768em;
  text-align: center;
  color: rgb(36, 48, 94);
}

div.gallery {
  border: 1px solid #777;
  font-family: 'Josefin Sans', Arial, Verdana, sans-serif;}

div.gallery img {
  max-width: 100%;
  height: auto;
  -webkit-filter: grayscale(1); 
  -webkit-transition: all .8s ease-in-out;  
}

div.gallery img:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
}

div.desc {
  padding: 15px;
  text-align: center; }

* {
  box-sizing: border-box; }

.responsive {
  padding: 2px 12px;
  float: left;
  width: 20%;}

/* NAVIGATION BAR */
nav {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.3);
  top: 0;
  position: fixed;
  width: 100%;
}

nav a {
  text-align: center;
  float: left;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23px;
  display: block;
}

nav a:hover {
  background-color: #F5F5F5;
  font-weight: bold;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;}
}

@media only screen and (max-width: 500px) {
  .responsive{
    width: 100%; }
}

.responsive:after {
  content: "";
  display: table;
  clear: both; }
